@tailwind base;
@tailwind components;
@tailwind utilities;



*::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: white;
}
  
  *::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: #424242;
    /* border: 3px solid #424242 ; */
  }
  