* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 1.2em 2.4em;
  font-size: 24px;
  font-weight: bolder;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.home-button {
  background-color: #000000;
}

.bot-button {
  background-color: #920017;
}

.pvp-button {
  background-color: #fdad00;
}

.text {
  color: #920017;
}
